body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor {
  position: absolute;
  width: 1vw;
  height: 1vw;
  background-color: black;
}